body 	
	{
		/*main body of site*/
		font-family:arial, sans-serif; padding:1em;
		background-color: black;
		color: white;
		padding: 0px;
	}
canvas 	
	{ 
		/*images*/
		border:solid 2px darkgrey;
	}
canvas:hover
 	{
 		/*images-mouseover*/
		background-image: url('data:image/png;base64,\
		iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAKElEQVQoz2OcOXMmAzZw9uxZrOJM\
		DCSCUQ3EABZc4W1sbDwaSvTTAABS2wdUfD43jQAAAABJRU5ErkJggg==');
	}
#minmaxdiv
	{
		/*minimise/maximise toolbox button div*/
		position:fixed;
		z-index: 9999;
		top: 8px;
		right: 8px;
	}
#minmax
	{
		/*minimise/maximise toolbox button*/
		
	}
#toolbox
	{
		/*side toolbox*/
		border:2px solid darkgrey;
		position:fixed;
		top: 8px;
		right: 8px;
		background: black;
		padding:20px;
		color:white;
		width:25%;
	}
#b_new_random_image
	{
		width:90%;
		margin: 0;
   		padding: 0;
	}
#social 
	{
		position: fixed;
		right: 30px;
		top: 10px;
		height: 10px;
	  
	}
#social > * 
	{
		float: left;
		opacity: 0.5;
	}
#social > *:hover 
	{
		opacity: 1.0;
	}
#image-input
	{
		/*import image button*/
		
	}
#b_view_gallery
	{
		/*view gallery button*/
		width: 90%;
	}
#b_upload_image
	{
		/*upload image button*/
		width: 90%;
		
	}
#start
	{
		/*start button*/
		width: 45%;
		margin: 0;
   		padding: 0;
		
	}
#pause
	{
		/*pause button*/
		width: 45%;
		margin: 0;
   		padding: 0;
		
	}
#num-polys
	{
		/*number of polygons in evolved image*/
		width: 20%;
		
	}
#num-verts
	{
		/*number of vertices in each polygon*/
		width: 20%;
		
	}
#clipboard
	{
		/*dna/svg clipboard*/
		width: 90%;
		margin: 0;
  		padding: 0;
	}
#b_export_dna
	{
		/*export dna button*/
		width: 30%;
		margin: 0;
  		padding: 0;
		
	}
#b_export_svg
	{
		/*export svg button*/
		width: 30%;
		margin: 0;
   		padding: 0;
	}
#b_import_dna
	{
		/*import dna button*/
		width: 30%;
		margin: 0;
   		padding: 0;
	}
#top-button-container
	{
		font-size:0;  
		overflow: hidden; 
	}
#bottom-button-container
	{
		font-size:0;  
		overflow: hidden;  
	}
