body 	
	{
	font-family:arial, sans-serif; padding:1em;
	background-color: black;
	color: white;
	padding: 0px;
	}
canvas 	
	{ 
	border:solid 1px darkgrey;
	}
canvas:hover
 	{
	background-image: url('data:image/png;base64,\
	iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAKElEQVQoz2OcOXMmAzZw9uxZrOJM\
	DCSCUQ3EABZc4W1sbDwaSvTTAABS2wdUfD43jQAAAABJRU5ErkJggg==');
	}
#minmaxdiv
	{
	position:fixed;
	z-index: 9999;
	top: 8px;
	right: 8px;
	}
#toolbox
	{
	border:1px solid darkgrey;
	position:fixed;
	top: 8px;
	right: 8px;
	background: black;
	padding:20px;
	}
#start
	{
	width: 45%;
	}
#pause
	{
	width: 45%;
	}
#num-verts
	{
	width: 20%;
	}
#num-polys
	{
	width: 20%;
	}
#clipboard
	{
	width: 90%;
	}
#b_export_dna
	{
	width: 30%;
	}
#b_export_svg
	{
	width: 30%;
	}

#b_import_dna
	{
	width: 30%;
	}
