aaa { outline:dotted 1px red }
body { font-family:arial, sans-serif; padding:1em }
h2 { margin-top:1.75em }
canvas { border:solid 1px #000 }
.image { float:left; margin:0 0.5em 0 0; font-size:2em }
.clr { clear:both }
ul { list-style-type:square }
a:hover { background:#1e4881; color:white; text-decoration:none }

#algo, #dnaformat { background:#eee; padding:1em; margin-top:1em; border-left:solid 10px #999 }

.snapshot ul, .snapshot img { float:left }
.snapshot ul { margin:0 1em 1.5em 0; color:#333; width:13em }
.wide ul { width:30em }

#fitwrap { font-weight:bold; font-size:1em; color:#999; margin:2em 1em 0 0; float:left; width:15em }
#fitness, #step_benefit, #step_total { font-size:2em;}
#fitness { color:#000; }
#step_benefit { color:#0a0; }
#step_total { color:#aa0; }

#stats { font-size:0.8em; color:#aaa; float:left; position:relative; top:3em; margin-top:-2em }
#time { color:#a00 }
#mutsec { color:#a80 }

#start, #stop { width:4em; margin-top:0.5em; padding:0.5em; background:black; text-align:center; float:left; cursor:pointer; font-size:2em }
#start { color:lightgreen; }
#stop { color:red; display:none }

#imgform { float:left; border:solid 0px #000; padding:0em; margin:0.5em 1em 0 0; width:40em }
#imgurl { width:35em }

.button { background:#000; color:#fff; cursor:pointer; width:3em; padding:0.2em 0.5em 0.2em 0.5em; text-align:center; display:inline }
.button:hover { background:#a00; color:white }
.warning { color:red }
.highlighted { color:yellow }

#dnaformwrap { padding:0; float:left; margin:1em 1em 0 0; }
#clipboard { width:50em; height:13em; margin:1em 0 0 0 }

#mutationtype, #resetdna { margin:0 0 0.4em 0 }
#parameters { float:left; margin:2em 0 0 0 }
.parname { margin:0 0 0.2em 0 }

#geometry { margin:1em 0 0.4em 0 }
#polygons, #vertices { font-size:2em }
.pargeo { margin:0 0 0 0.5em; position:relative; top:0.4em }
#geometry .button { font-weight:bold; width:1em;  }

dt { font-weight:bold; margin-bottom:0.5em }
dd { margin:0 0 2em 0 }

.speed { font-size:0.9em; color:#60BF5F }
